body{
  background-color: #fff;
}
.main{
  margin: 0;
  padding: 15px;
}
.mercadorias{
  padding: 15px;
}
.resumoEstoque{
  padding: 15px;
}
.App {
  font-family: Arial, sans-serif;
}
.title{
  background-color: #1f4e80;
  margin:0;
  color: #fff;
  padding: 20px;
}
.bemVindo{
  margin-left: 1550px;
  margin-top: 0;
  width: 45%;
}
input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #000;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: #1f4e80;
  color: white;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #6885a4;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-color: #000;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #becddc;
  font-weight: bold;
}

td input {
  width: 80px;
}
